@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Condensed:700');

/*  general layout */

body {
  background-image: url('./topography.png');
  background-repeat: repeat;
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed' !important;
}

.app {
  margin-left: 75px !important;
  margin-right: 75px !important;
  margin-top: 10px !important;
}

/*   header  */

.header {
  margin-bottom: 25px !important;
}

.header-logo{
  height: 100px !important;
  width: 100px !important;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*  main */

.change-form {
  margin-top: 25px;
}
