@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Condensed:700');

/*  general */

body {
  background-image: url('./topography.png');
  background-repeat: repeat;
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed' !important;
}

.app {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.large-message {
    font-size: 18pt;
}

/*   header  */

.header {
  margin-bottom: 10px !important;
}

.header-logo-container {
  margin-top: 15px !important;
}

.header-logo {
  height: 100px !important;
  width: 100px !important;
}

.navbar-item {
  margin-right: 10px;
  font-size: 14pt;
}

/*  header animation */

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*  landing page */

.landing-page {
  margin-left: 100px;
  margin-right: 100px;
}

/*  collection page */

.collection-page {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.collection-loader {
  margin-top: 60px !important;
}

/*  access page */

.change-form {
  margin-top: 25px;
}
